<div class="grid">
    <div class="team1">
        <h3>{{teamName[0]}}</h3>
        <p>{{teamWebsite[0]}}</p>
        <p>{{phoneNumber[0]}}</p>        
        <div class="logo1"><img src="{{teamImages[0]}}"></div>
    </div>

    <div class="team2">
        <h3>{{teamName[1]}}</h3>
        <p>{{teamWebsite[1]}}</p>
        <p>{{phoneNumber[1]}}</p>  
        <div class="logo2"><img src="{{teamImages[1]}}"></div>
    </div>

    <div class="team3">
        <h3>{{teamName[2]}}</h3>
        <p>{{teamWebsite[2]}}</p>
        <p>{{phoneNumber[2]}}</p>  
        <div class="logo3"><img src="{{teamImages[2]}}"></div>
    </div>
</div>

<div class="grid">
    <div class="team4">
        <h3>{{teamName[3]}}</h3>
        <p>{{teamWebsite[3]}}</p>
        <p>{{phoneNumber[3]}}</p>        
        <div class="logo1"><img src="{{teamImages[3]}}"></div>
    </div>

    <div class="team5">
        <h3>{{teamName[4]}}</h3>
        <p>{{teamWebsite[4]}}</p>
        <p>{{phoneNumber[4]}}</p>  
        <div class="logo2"><img src="{{teamImages[4]}}"></div>
    </div>

    <div class="team6">
        <h3>{{teamName[5]}}</h3>
        <p>{{teamWebsite[5]}}</p>
        <p>{{phoneNumber[5]}}</p>  
        <div class="logo3"><img src="{{teamImages[5]}}"></div>
    </div>
</div>

<div class="grid">
    <div class="team7">
        <h3>{{teamName[6]}}</h3>
        <p>{{teamWebsite[6]}}</p>
        <p>{{phoneNumber[6]}}</p>        
        <div class="logo1"><img src="{{teamImages[6]}}"></div>
    </div>

    <div class="team8">
        <h3>{{teamName[7]}}</h3>
        <p>{{teamWebsite[7]}}</p>
        <p>{{phoneNumber[7]}}</p>  
        <div class="logo2"><img src="{{teamImages[7]}}"></div>
    </div>
</div>
